<?xml version="1.0" encoding="utf-8"?>
<!-- Use Windows/DOS "End of Line" here for bad editors like Windows notepad ... -->
<configuration>
	<appSettings>
		<!-- gnuplot launcher/executable name/path, specific to operating system.
		Only the matching entry for the currently running OS is needed at runtime.
		gnuplot_<platform-ID>
		-->
		<add key="gnuplot_Unix" value="gnuplot"/>
		<add key="gnuplot_MacOSX" value="gnuplot"/>
		<!-- Microsoft Windows: usually full path of gnuplot.exe is needed here:
		Tested:
			Windows 8.1 x64 + gnuplot 5.0.1 x64 (gp501-win64-mingw.exe) using default install path:
				"C:\Program Files\gnuplot\bin\gnuplot.exe"
		-->
		<add key="gnuplot_Win32NT" value="C:\Program Files\gnuplot\bin\gnuplot.exe"/>

		<!-- Whether to display icons by default. "True" or "False". -->
		<add key="iconsOnByDefault" value="True"/>

		<!--- icon size, 48 x 32 by default if not specified; max 255 x 255 -->
		<add key="iconWidth" value="48"/>
		<add key="iconHeight" value="32"/>
	</appSettings>
</configuration>
